<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.bipark.reco.order.model.mapper.BiOrderMapper">
	
	<sql id="OrderWhere">
		<where>	      				
	       <if test="@Ognl@isNotEmpty(appName)">
				AND t.app_name = #{appName}
			</if>
	       <if test="@Ognl@isNotEmpty(appCode)">
				AND t.app_code = #{appCode}
			</if>
	       <if test="@Ognl@isNotEmpty(moduleUrl)">
				AND t.module_url = #{moduleUrl}
			</if>
	       <if test="@Ognl@isNotEmpty(haveNav)">
				AND t.have_nav = #{haveNav}
			</if>
	       <if test="@Ognl@isNotEmpty(navType)">
				AND t.nav_type = #{navType}
			</if>
	       <if test="@Ognl@isNotEmpty(isBuiltIn)">
				AND t.is_built_in = #{isBuiltIn}
			</if>
	       <if test="@Ognl@isNotEmpty(isVirtual)">
				AND t.is_virtual = #{isVirtual}
			</if>
	       <if test="@Ognl@isNotEmpty(iconUrl)">
				AND t.icon_url = #{iconUrl}
			</if>
	       <if test="@Ognl@isNotEmpty(isValid)">
				AND t.is_valid = #{isValid}
			</if>
	       <if test="@Ognl@isNotEmpty(sequence)">
				AND t.sequence = #{sequence}
			</if>
	       <if test="@Ognl@isNotEmpty(remarks)">
				AND t.remarks = #{remarks}
			</if>
	       <if test="@Ognl@isNotEmpty(inputerId)">
				AND t.inputer_id = #{inputerId}
			</if>
	       <if test="@Ognl@isNotEmpty(inputTimeBegin)">
				AND t.input_time >= #{inputTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(inputTimeEnd)">
				AND t.input_time &lt;= #{inputTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(badgeUrl)">
				AND t.badge_url = #{badgeUrl}
			</if>
	       <if test="@Ognl@isNotEmpty(badgeCode)">
				AND t.badge_code = #{badgeCode}
			</if>
		</where>
	</sql>

    <select id="findBy" resultType="cn.bipark.reco.order.model.viewmodel.list.OrderListVM">
    	SELECT 
			t.id				id,
			t.app_name				appName,
			t.app_code				appCode,
			t.module_url				moduleUrl,
			t.have_nav				haveNav,
			t.nav_type				navType,
			t.is_built_in				isBuiltIn,
			t.is_virtual				isVirtual,
			t.icon_url				iconUrl,
			t.is_valid				isValid,
			t.sequence				sequence,
			t.remarks				remarks,
			t.inputer				inputer,
			t.inputer_id				inputerId,
			t.input_time				inputTime,
			t.badge_url				badgeUrl,
			t.badge_code				badgeCode
	    FROM bi_order t 
		<include refid="OrderWhere"/>		
		<if test="@Ognl@isNotEmpty(orderBy)">
			ORDER BY ${orderBy}
		</if>
    </select>
	
</mapper>

