<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.bipark.reco.upms.model.mapper.BiUserRankMapper">
	
	<sql id="UserRankWhere">
		<where>	      				
	       <if test="@Ognl@isNotEmpty(levelId)">
				AND t.level_id = #{levelId}
			</if>
	       <if test="@Ognl@isNotEmpty(userId)">
				AND t.user_id = #{userId}
			</if>
	       <if test="@Ognl@isNotEmpty(score)">
				AND t.score = #{score}
			</if>
	       <if test="@Ognl@isNotEmpty(usedTime)">
				AND t.used_time = #{usedTime}
			</if>
	       <if test="@Ognl@isNotEmpty(teamId)">
				AND t.team_id = #{teamId}
			</if>
	       <if test="@Ognl@isNotEmpty(rankNum)">
				AND t.rank_num = #{rankNum}
			</if>
		</where>
	</sql>

    <select id="findBy" resultType="cn.bipark.reco.upms.model.viewmodel.list.UserRankListVM">
    	SELECT 
			t.id				id,
			t.level_id				levelId,
			t.user_id				userId,
			t.score				score,
			t.used_time				usedTime,
			t.team_id				teamId,
			t.rank_num				rankNum
	    FROM bi_user_rank t 
		<include refid="UserRankWhere"/>		
		<if test="@Ognl@isNotEmpty(orderBy)">
			ORDER BY ${orderBy}
		</if>
    </select>
	
</mapper>

