<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.UserMapper">
    <!--    <select id="getUserList" resultType="User">-->
    <select id="getUserList" resultMap="UserTeam">
        select u.id, u.username, u.password, t.id tid, t.team_name, t.team_org
        from t_user u,
             t_team t
        where u.team = t.id
    </select>
    <resultMap id="UserTeam" type="User">
        <id property="id" column="id"/>
        <id property="username" column="username"/>
        <result property="password" column="password"/>
        <association property="team" javaType="Team">
            <result property="id" column="tid"/>
            <result property="team_name" column="team_name"/>
            <result property="team_org" column="team_org"/>
        </association>
    </resultMap>
    <select id="getUser" resultType="User">
        select *
        from t_user
        where id = #{id}
    </select>
    <select id="getUserBy" parameterType="map" resultType="User">
        select *
        from t_user
        <where>
            <if test="id!=null and id!=''">
                id = #{id}
            </if>
            <foreach collection="ids" item="id" open="id in (" separator="," close=")">
                #{id}
            </foreach>
            <choose>
                <when test="username!=null and username!=''">
                    username = #{username}
                </when>
                <when test="nick!=null and nick!=''">
                    nick = #{nick}
                </when>
                <otherwise>
                    and team = 1
                </otherwise>
            </choose>
        </where>

    </select>
    <select id="getUserPage" resultType="User">
        select *
        from t_user
        <bind name="page" value="(page-1)*size"></bind>
        limit #{page},#{size};
    </select>
    <insert id="addUser" parameterType="User">
        insert into t_user (id, username, password)
        values (#{id}, #{username}, #{password});
    </insert>
    <delete id="delUser">
        delete
        from t_user
        where id = #{id};
    </delete>
    <update id="updateUser" parameterType="User">
        update t_user
        <set>
            <if test="username!=null and username!=''">username = #{username},</if>
            <if test="password!=null and password!=''">password = #{password},</if>
            <if test="teamId!=null and teamId!=''">team = #{teamId}</if>
        </set>
        where id = #{id};
    </update>
</mapper>